/* text-lg */
.container p,
.container ol,
.container ul {
  font-size: 18px;
  line-height: 28px;
}

.container a {
  color: black;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.register-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.register-buttons button {
  width: 100%;
  height: 300px;
  text-align: left;
  padding: 32px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
  color: black;
  background-color: #f0f0f0;
}

.register-buttons button:hover {
  color: white;
  background-color: var(--main-color);
}

.register-buttons button span {
  font-size: 40px;
  font-weight: 900;
}

@media only screen and (max-width: 640px) {
  .register-buttons {
    flex-direction: column;
    gap: 8px;
  }

  .register-buttons button {
    height: 200px;
  }
}
