.container {
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submitButton {
  width: 100%;
  padding: 0.75rem !important;
  margin-top: 1rem;
  background-color: #00a0e9 !important;
}
